.container {
    margin: 50px 10%;
}
.main-container {
    margin: 0 15%;
    border-bottom: 1px solid #ab9595;
    text-align: center;
}
.main-container_ipn {
    display: grid;
    grid-template-columns: auto;
    height: 80px;
    gap: 10px;
    text-align: center;
}
.main-container_ipn input {
    padding-left: 10px;
}
.main-container_btn {
    text-align: center;
    margin-top: 10px;
}
.btn-add {
    height: 40px;
    width: 90px;
    margin-bottom: 10px;
}
.list-container__stt {
    display: flex;
    justify-content: space-between;
}
.list-container {
    margin: 10px 15%;
}
.list-container__stt {
    margin-bottom: 10px;
    background-color: rgb(171, 160, 160);
    padding: 10px;
}
.cursor {
    cursor: pointer;
}